body {
  background-color: #282828;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  transform: translate(50%, 50%);
  
  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
    transform: translate(50%, 50%);
  }
}

.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

@keyframes swipe-right {
  0%, 75% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
